{% include directory ~ '/templates/partials/header.html.twig' %}
<main>
  <div class="scroll-content">

    <!-- START SECTION HERO -->
    <section class="section-hero">
    </section> <!-- .section-hero -->
    <!-- END SECTION HERO -->

    <!-- START SECTION HISTORY -->
    <section class="section-home-history" id="history">
      <div class="o-container">
        <div class="section-title">
          <h2 class="f-dash-bottom-center animated">OUR HISTORY</h2>
        </div> <!-- .section-title -->
      </div> <!-- .container -->
      <div class="o-container">
        <div class="section-entry entry animated">
          <q>From Zero to Awesome.</q>
          <p>Our history begins in 2010 with a foundation as a software developer company. In 2011 the company took a different direction and focus on web and mobile development. Starting out in a tiny house in Bali, Maxsol has evolve into a 23 strong personnels through out the years. We are now serving digital agency across Indonesia and completed over 500 projects over 7 years.</p>
        </div> <!-- .section-entry -->
      </div> <!-- .container -->
    </section> <!-- .section-home-history -->
    <!-- END SECTION HISTORY -->

    <!-- START SECTION SERVICE -->
    <section class="section-home-service" id="service">
      <div class="o-container">
        <div class="section-title">
          <h2 class="f-section-title f-dash-bottom-left animated">WHAT<br>WE<br>DO</h2>
        </div> <!-- .section-title -->
      </div> <!-- .o-container -->
      <div class="o-container">
        <div class="section-entry entry">
          <q class="animated">Our Core Services</q>
          <p class="animated">are development, creative and management of digital solutions and marketing. Whatever the challenge, we have the attitude, knowledge, experience and dedication to be your digital partner.</p>
        </div> <!-- .section-entry -->
        <div class="figure-group figure-group-service">
          <figure class="animated">
            <div class="image"><img src="img/demo-need-icon.png"/></div>
            <figcaption>
              <h4>WEB DEVELOPMENT</h4>
            </figcaption>
          </figure>
          <figure class="animated">
            <div class="image"><img src="img/demo-need-icon.png"/></div>
            <figcaption>
              <h4>GRAPHIC &amp; UI DESIGN</h4>
            </figcaption>
          </figure>
          <figure class="animated">
            <div class="image"><img src="img/demo-need-icon.png"/></div>
            <figcaption>
              <h4>SOFTWARE DEVELOPMENT</h4>
            </figcaption>
          </figure>
        </div> <!-- .figure-group-service -->
      </div> <!-- .container -->
    </section> <!-- .section-home-service -->
    <!-- END SECTION SERVICE -->

    <!-- START SECTION WORK -->
    <section class="section-home-work" id="work">
      <div class="o-container">
        <div class="section-title">
          <h2 class="f-section-title f-dash-bottom-left animated">OUR<br>LATEST<br>PROJECT</h2>
        </div> <!-- .section-title -->
      </div> <!-- .o-container -->
      <div class="o-container">
        <div class="section-entry entry">
          <q class="animated">Our Portfolio &amp; You Will Love it.</q>
          <p class="animated">These are some of our latest portfolio which we are proud to show off.</p>
        </div> <!-- section-entry -->
      </div> <!-- .o-container -->
      <div class="swiper-container swiper-home-work animated">
        <div class="swiper-wrapper">
			    <div class="swiper-slide">
            <figure class="image u-hidden-md-up">
                <a class="c-link u-block" href="#"><img src="img/work/yokke-thumbnail-mobile.png"/></a>
            </figure> <!-- .image.u-hidden-md-up -->
            <figure class="mockup-wrapper u-visible-md-up" style="background-color: #f9f9f9;">
              <figcaption>
                <a class="c-link u-block" href="#"><h2>YOKKE</h2></a>
                <h5 class="f-dash-bottom-left">www.yokke.co.id</h5>
              </figcaption>
              <div class="work-image-group">
                <img src="img/work/yokke-phone-figure.png" class="work-mockup work-mockup-sm"/>
                <img src="img/work/yokke-cover-big.png" class="work-mockup work-mockup-md"/>
                <img src="img/work/yokke-browser-big.png" class="work-mockup work-mockup-lg"/>
              </div> <!-- .work-image-group -->
            </figure> <!-- .u-visible-md-up -->
          </div> <!-- .swiper-slide -->
        </div> <!-- .swiper-wrapper -->
        <div class="swiper-navigation animated">
          <button class="c-button swiper-button button-next">prev</button>
          <button class="c-button swiper-button button-prev">next</button>
        </div> <!-- .swiper-navigation -->
      </div> <!-- .swiper-container -->
    </section> <!-- .section-home-work -->
    <!-- END SECTION WORK -->

    <!-- START SECTION CLIENT -->
    <section class="section-home-client" id="client">
      <div class="o-container">
        <div class="section-title">
          <h3>OUR CLIENT</H3>
        </div> <!-- .secton-title -->
        <ul class="companies">
          <li class="list"><img src="img/client/bmw-logo.png"></li>
        </ul> <!-- .companies -->
      </div> <!-- .container -->
    </section> <!-- .section-home-client -->
    <!-- END SECTION CLIENT -->

    <!-- START SECTION TEAM -->
    <section class="section-home-team" id="team">
      <div class="o-container">
        <div class="section-title">
          <h2 class="f-section-title f-dash-bottom-left animated">MEET<br>OUR<br>TEAM</h2>
        </div> <!-- .section-title -->
      </div> <!-- .o-container -->
      <div class="o-container">
        <div class="section-entry entry">
          <q class="animated">Our Team &amp; You Will Love it.</q>
          <p class="animated">Meet our energetics team dedicated to provide the best services you can acquire.</p>
        </div> <!-- section-entry -->
      </div> <!-- .o-container -->
      <div class="swiper-container swiper-home-team animated">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure class="image">
              <img src="img/team/alfonso-team-thumbnail.jpg"/>
              <figcaption class="profile-container">
                <div class="profile-wrapper">
                  <h5>Alfonso</h5>
                  <label>PROJECT DIRECTOR</label>
                </div> <!-- .profile-wrapper -->
              </figcaption> <!-- .profile-container -->
            </figure> <!-- .image -->
          </div> <!-- .swiper-slide -->
        </div> <!-- .swiper-wrapper -->
      </div> <!-- .swiper-container -->
      <div class="swiper-navigation animated">
        <button class="c-button swiper-button button-next">prev</button>
        <button class="c-button swiper-button button-prev">next</button>
      </div> <!-- .swiper-navigation -->
    </section> <!-- .section-home-team -->
    <!-- END SECTION TEAM -->

  </div> <!-- .scroll-content -->
</main>

{% include directory ~ '/templates/partials/footer.html.twig' %}
