<div class="nav-bar">
	<div class="bg">
		<div class="o-container nav-bar-container">
			<a class="c-link nav-bar-fast-contact" href="#contact"><i class="icon icon-fast-contact"></i>fast-contact</a>
			<a class="c-link nav-bar-logo">maxolution</a>
			<div class="hamburger js-hamburger nav-bar-toggle-navigation">
				<button class="c-button" type="button">
					<span class="hamburger-box">
						<div class="hamburger-inner"></div>
					</span> <!-- .hamburger-box -->
				</button>
			</div> <!-- .hamburger -->
		</div> <!-- .nav-bar-container -->
	</div> <!-- .nav-bar_bg -->
	<nav id="navigation" class="navigation">
		<div class="navigation-box">
			<div class="navigation-inner"></div>
		</div> <!-- .navigation-box -->
		<ul id="navigation-main" class="navigation-list">
			<li class="item"><a class="c-link" href="#history">ABOUT</a></li>
			<li class="item"><a class="c-link" href="#service">SERVICE</a></li>
			<li class="item"><a class="c-link" href="#work">WORK</a></li>
			<li class="item"><a class="c-link" href="#team">TEAM</a></li><!--
			<li class="item"><a class="c-link" href="#contact">CONTACT</a></li> -->
		</ul>
	</nav> <!-- #navigation.navigation -->
</div> <!-- .nav-bar -->